<div class="container justify-content-center align-items-center d-flex">
  <div class="">
    <form
      [formGroup]="login"
      (ngSubmit)="onLogin()"
      class="row d-flex flex-column align-items-center"
    >
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        name=""
        id=""
        required
        class="col"
      />

      <input
        class="col"
        type="password"
        formControlName="password"
        placeholder="password"
        name=""
        id=""
      />
      <button class="col btn btn-success">Login</button>
      <button class="col btn btn-info" routerLink="/register">Register</button>
    </form>
  </div>
</div>

<p
  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
  class="alert alert-danger"
>
  Email required
</p>
