<button (click)="logOut()">Logout</button>
<div *ngIf=""></div>
<div class="container">
  <div class="row d-flex gap-5">
    <div class="card col-auto" style="width: 18rem" *ngFor="let item of users">
      <div class="card-body">
        <img
          class="card-img-top"
          src="{{ item.avatar }}"
          alt="avatar of {{ item.name }}"
        />
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="fw-light">{{ item.isMale ? "Male" : "Female" }}</p>
        <p class="fw-lighter">ZIPCODE: {{ item.zipcode }}</p>
        <div class="row d-flex gap-1">
          <button class="col btn btn-primary">Buy</button>
          <button class="col btn btn-danger">Sell</button>
          <button class="col btn btn-success">Bid</button>
        </div>
      </div>
    </div>
  </div>
</div>
