<div class="container justify-content-center align-items-center d-flex">
  <div class="">
    <form
      class="row d-flex flex-column align-items-center"
      [formGroup]="register"
      (ngSubmit)="onRegister()"
    >
      <input type="name" formControlName="name" placeholder="name" required />
      <input
        type="email"
        formControlName="email"
        placeholder="email"
        required
      />
      <select class="form-select" name="role" formControlName="role" id="role">
        <option selected>-- select role ---</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
        <option value="superadmin">Sudo</option>
      </select>
      <input
        type="password"
        formControlName="password"
        placeholder="password"
      />
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="confirm password"
      />
      <div *ngIf="password != confirmPassword" class="alert alert-danger">
        Password tidak sama
      </div>
      <p>{{ password }}</p>
      <p>{{ confirmPassword }}</p>
      <button class="btn btn-success" [disabled]="!register.valid">
        Register
      </button>
      <button routerLink="" class="btn btn-light">Login</button>
    </form>
  </div>
</div>
